- cache "#{genre}/form" do
  = simple_nested_form_for genre do |f|
    = f.input :name
    = f.input :description, as: :text
    - f.simple_fields_for :samples do |s|
      = s.input :artist
      = s.input :track
      = s.input :file, as: :attachment
    = f.submit
