- title genre.name
- cache genre do
  .name.row
    .large-10.columns
      %h2= genre.name
    .large-2.columns
      - if logged_in?
        = link_to_modal icon('pencil'), edit_genre_path(genre), class: 'tiny button has-tip', title: t(:edit)
  .description.row
    .large-12.columns
      = genre.description
  .samples.row
    .large-12.columns
      - genre.samples.each do |sample|
        = render sample
      - if logged_in?
        = link_to icon('plus'), new_genre_sample_path(genre), class: 'has-tip', title: t(:add)
  .current-sample.row
    .large-2.columns
      .part= t(:artist)
      .part= t(:track)
    .large-9.columns
      #artist &nbsp;
      #track &nbsp;
    .large-1.columns
    - if genre.samples.any?
      = link_to icon('stop'), '#', class: 'stop has-tip', title: t(:stop)

