!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = title_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'navigation'
      = render 'title'
      = render 'flash'
    %main
      = yield
    %footer.row
      .about.large-6.columns
        %h4 about openishkur
        %p
          OpenIshkur is an open-source guide to the world of electronic
          music. Based on #{link_to "Ishkur's Guide", "http://techno.org/electronic-music-guide"}, we aim to show the graph of connections between all kinds of electronic music.
      .project.large-6.columns
        %h4 project information
        %nav
          = link_to 'source code', "https://github.com/tubbo/open_ishkur"
          = link_to 'documentation', "https://github.com/tubbo/open_ishkur/wiki"
          = link_to 'report an issue', "https://github.com/tubbo/open_ishkur/issues/new"
