!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = title_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav.topbar{ data: { topbar: true } }
        %ul.title-area
          %li.name
            %h1= link_to config.title, root_path
        %section#search.top-bar-section
          %ul
            %li
              = search_field_tag :query, nil, placeholder: 'Search...'
        %section#users.top-bar-section
          %ul.right
            - if logged_in?
              %li= link_to current_user.name, current_user
              %li= link_to t(:sign_out, scope: 'devise.links'), destroy_user_registration_path, method: :delete
            - else
              %li= link_to t(:sign_in, scope: 'devise.links'), user_sign_in_path
              %li= link_to t(:sign_up, scope: 'devise.links'), user_sign_up_path
      - if content_for? :title
        .row
          .large-12.columns
            %h1= content_for :title
    %main
      = yield
    %footer
      %nav
        = link_to 'source code', "https://github.com/tubbo/open_ishkur"
        = link_to 'documentation', "https://github.com/tubbo/open_ishkur/wiki"
        = link_to 'report an issue', "https://github.com/tubbo/open_ishkur/issues/new"
